<footer class="py-12 bg-white xl:py-24 dark:bg-gray-800">
    <div class="container px-4 mx-auto lg:px-0">
        <div class="grid gap-12 xl:grid-cols-6 xl:gap-24">
            <div class="col-span-2">
                <a href="{{ "/" | relURL }}" class="flex mr-4">
                    <img src="/images/logo.svg" class="mr-3 h-8" alt="Flowbite Logo" />
                    <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Flowbite</span>
                  </a>
                <p class="mt-4 max-w-lg text-gray-500 dark:text-gray-400">Flowbite is a UI library of elements &amp; components based on Tailwind
                    CSS that can get you started building websites faster and more efficiently.</p>
            </div>
            <div>
                <h3 class="mb-6 text-sm font-semibold text-gray-600 uppercase dark:text-white">Resources</h3>
                <ul>
                    <li class="mb-4">
                        <a href="https://themesberg.com?ref=flowbite.com" target="_blank" rel="noreferrer" class="font-normal text-gray-600 hover:underline dark:text-gray-400">Themesberg</a>
                    </li>
                    <li class="mb-4">
                        <a href="https://www.figma.com/?ref=flowbite.com" target="_blank" rel="noreferrer" class="font-normal text-gray-600 hover:underline dark:text-gray-400">Figma</a>
                    </li>
                    <li class="mb-4">
                        <a href="https://tailwindcss.com/?ref=flowbite.com" target="_blank" rel="noreferrer" class="font-normal text-gray-600 hover:underline dark:text-gray-400">Tailwind CSS</a>
                    </li>
                    <li class="mb-4">
                        <a href="https://themesberg.com/blog?ref=flowbite.com" target="_blank" rel="noreferrer" class="font-normal text-gray-600 hover:underline dark:text-gray-400">Blog</a>
                    </li>
                    <li class="mb-4">
                        <a href="https://themesberg.com/affiliate?ref=flowbite.com" target="_blank" rel="noreferrer" class="font-normal text-gray-600 hover:underline dark:text-gray-400">Affiliate program</a>
                    </li>
                </ul>
            </div>
            <div>
                <h3 class="mb-6 text-sm font-semibold text-gray-600 uppercase dark:text-white">Help and support</h3>
                <ul>
                    <li class="mb-4">
                        <a href="https://themesberg.com/contact?ref=flowbite.com" target="_blank" rel="noreferrer" class="font-normal text-gray-600 hover:underline dark:text-gray-400">Contact us</a>
                    </li>
                    <li class="mb-4">
                        <a href="https://themesberg.com/knowledge-center?ref=flowbite.com" target="_blank" rel="noreferrer" class="font-normal text-gray-600 hover:underline dark:text-gray-400">Knowledge Center</a>
                    </li>
                </ul>
            </div>
            <div>
                <h3 class="mb-6 text-sm font-semibold text-gray-600 uppercase dark:text-white">Follow us</h3>
                <ul>
                    <li class="mb-4">
                        <a href="https://github.com/themesberg" target="_blank" rel="noreferrer" class="font-normal text-gray-600 hover:underline dark:text-gray-400">Github</a>
                    </li>
                    <li class="mb-4">
                        <a href="https://twitter.com/themesberg" target="_blank" rel="noreferrer" class="font-normal text-gray-600 hover:underline dark:text-gray-400">Twitter</a>
                    </li>
                    <li class="mb-4">
                        <a href="https://www.facebook.com/themesberg" target="_blank" rel="noreferrer" class="font-normal text-gray-600 hover:underline dark:text-gray-400">Facebook</a>
                    </li>
                    <li class="mb-4">
                        <a href="https://ro.linkedin.com/company/themesberg" target="_blank" rel="noreferrer" class="font-normal text-gray-600 hover:underline dark:text-gray-400">LinkedIn</a>
                    </li>
                </ul>
            </div>
            <div>
                <h3 class="mb-6 text-sm font-semibold text-gray-600 uppercase dark:text-white">Legal</h3>
                <ul>
                    <li class="mb-4">
                        <a href="https://themesberg.com/privacy-policy" target="_blank" rel="noreferrer" class="font-normal text-gray-600 hover:underline dark:text-gray-400">Privacy Policy</a>
                    </li>
                    <li class="mb-4">
                        <a href="https://themesberg.com/terms-and-conditions" target="_blank" rel="noreferrer" class="font-normal text-gray-600 hover:underline dark:text-gray-400">Terms &amp; Conditions</a>
                    </li>
                    <li class="mb-4">
                        <a href="https://flowbite.com/license" class="font-normal text-gray-600 hover:underline dark:text-gray-400">EULA</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="my-8 border-gray-200 lg:my-12 dark:border-gray-700">
        <span class="block text-center text-gray-600 dark:text-gray-400">© 2019-<span id="currentYear">2021</span> <a href="https://themesberg.com" target="_blank" rel="noreferrer">Themesberg</a>. All Rights Reserved.
        </span>
    </div>
</footer>